<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, inicial-scale=1.0">
        <link rel="stylesheet" href="../style/indexstyle.css">
        <title>LT TECH</title>
    </head>
    <body>

        <header>
            <h1>LT TECH</h1>
            <nav>
                <ul>
                    <li><a href="#sobre">Equipe</a></li>
                    <li><a href="#contato">Contato</a></li>
                    <li><a href="denuncia.html">Denuncia</a></li>
                    <li><a href="cadastro.html">Cadastro</a></li>
                    <li><a href="login.html">Login</a></li>
                </ul>
            </nav>
        </header>

        <section id="sobre">
            <img src="/img/logo.png" alt="LT TECH"><br><br>

            <h2>Equipe</h2>
            <p>Nossa equipe é formada por alunos do Colaaaaaaégio Estadual Dr. Gastão Vidigal, no segundo ano do Ensino Médio Técnico em Desenvolvimento de Sistemas.<br>Tem aquele celular velho ou computador que não usa mais? Não jogue no lixo! A LT TECH oferece coleta de lixo eletrônico com total segurança e compromisso com o meio ambiente. Reciclamos seus dispositivos de maneira adequada, recuperando materiais valiosos e evitando que substâncias tóxicas contaminem o planeta.
            </p>

            <div class="foto">
                <img src="/img/kamoline.png" alt="Foto do Membro 1">
                <div class="textodafoto">
                    <p>Kamoline Redivo de Araújo</p>
                </div>
            </div>

            <div class="foto">
                <img src="/img/marco.png" alt="Foto do Membro 2">
                <div class="textodafoto">
                    <p>Marco Antonio Nascimento Barboza</p>
                </div>
            </div>

            <div class="foto">
                <img src="/img/nathan.png" alt="Foto do Membro 3">
                <div class="textodafoto">
                    <p>Nathan Vitor Ramos Oliveira</p>
                </div>
            </div>

            <div class="foto">
                <img src="/img/Mariano.jpg" alt="Foto do Membro 4">
                <div class="textodafoto">
                    <p>João Vitor Mariano</p>
                </div>
            </div>

            <div class="foto">
                <img src="/img/Joao.jpg" alt="Foto do Membro 5">
                <div class="textodafoto">
                    <p>João Paulo da Silva Oto</p>
                </div>
            </div>

            <div class="foto">
                <img src="/img/Leonardo.jpg" alt="Foto do Membro 6">
                <div class="textodafoto">
                    <p>Leonardo Paz Gaeski</p>
                </div>
            </div>

        </section>
    </body>
    <section id="contato">
        <footer>
            <p>&copy; 2025 LT TECH. LTTECH@gmail.com</p>
        </footer>
    </section>
</html>